/* add CSS class and element and selectors here */

h1 {
  font-family: Verdana;
  color: white;
  text-decoration-style: wavy;
}



body {
      background-color: lightpink;
      font-size: 150%;
      font-family: Verdana;
      color: white;
      border: 1px line white;
    }
    
  .myClass {
      background-color: gray;
      color: white;
    }