/* add CSS class and element and selectors here */

h1 {
  font-family: Verdana;
  color: white;
}
body {
      background-color: lightpink;
      font-size: 150%;
    }
    
  .myClass {
      background-color: lightgray;
      color: white;
    }