/* add CSS class and element and selectors here */

.example{
  text-align:center;
  font-family: Verdana;
  color: white;
  text-decoration: underline;
}

h3 {
  color: white;
}

*{
  font: courier;
  color: gray;
}

body {
      background-color: lightpink;
      font-size: 150%;
      font-family: Verdana;
      border: 1px line white;
    }
    
  .myClass {
      background-color: gray;
      color: white;
    }